body {
  background-color: #DEF5E5;
}

hr {
  border-style: none;
  border-top: 7px dotted white;
  border-color: grey;
  width: 5%;
}
h1{
  color: #00ABB3;
}
h2{
  color: #00ABB3;
}
h3{
  color: #00ABB3;
}
